* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

button {
  border: 1;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


input {
  -webkit-appearance: none;
  border: 0;
  padding: 4px;
  font-size: 1.5rem;
  text-align: right;
  width: 200px;
}

.op {
  background-color: #45acf1;
}

button:hover {
  /* filter: contrast(120%); */
  filter: brightness(120%);
}